#board-scroll-pane {
    -fx-hbar-policy: always;
    -fx-vbar-policy: always;
    -fx-pannable: true;
    -fx-background: white;
}

#board-grid {
    -fx-hgap: 2;
    -fx-vgap: 2;
}

.marker {
    -fx-image: url(marker.png);
}

#pawn_0 { -fx-translate-x: 42; -fx-translate-y: 14 }
#pawn_1 { -fx-translate-x: 74; -fx-translate-y: 16 }
#pawn_2 { -fx-translate-x: 111; -fx-translate-y: 54 }
#pawn_3 { -fx-translate-x: 64; -fx-translate-y: 110 }
#pawn_4 { -fx-translate-x: 16; -fx-translate-y: 41 }
#hut_8 { -fx-translate-x: 88; -fx-translate-y: 81 }
#pawn_10 { -fx-translate-x: 107; -fx-translate-y: 16 }
#pawn_11 { -fx-translate-x: 112; -fx-translate-y: 64 }
#pawn_12 { -fx-translate-x: 113; -fx-translate-y: 88 }
#pawn_13 { -fx-translate-x: 65; -fx-translate-y: 107 }
#pawn_14 { -fx-translate-x: 24; -fx-translate-y: 77 }
#pawn_15 { -fx-translate-x: 15; -fx-translate-y: 25 }
#hut_18 { -fx-translate-x: 69; -fx-translate-y: 46 }
#pawn_20 { -fx-translate-x: 107; -fx-translate-y: 17 }
#pawn_21 { -fx-translate-x: 112; -fx-translate-y: 58 }
#pawn_22 { -fx-translate-x: 108; -fx-translate-y: 90 }
#pawn_23 { -fx-translate-x: 16; -fx-translate-y: 59 }
#hut_28 { -fx-translate-x: 48; -fx-translate-y: 36 }
#pawn_30 { -fx-translate-x: 15; -fx-translate-y: 14 }
#pawn_31 { -fx-translate-x: 76; -fx-translate-y: 19 }
#pawn_32 { -fx-translate-x: 110; -fx-translate-y: 16 }
#pawn_33 { -fx-translate-x: 111; -fx-translate-y: 64 }
#pawn_34 { -fx-translate-x: 109; -fx-translate-y: 110 }
#pawn_35 { -fx-translate-x: 17; -fx-translate-y: 53 }
#hut_38 { -fx-translate-x: 52; -fx-translate-y: 94 }
#pawn_40 { -fx-translate-x: 14; -fx-translate-y: 13 }
#pawn_41 { -fx-translate-x: 48; -fx-translate-y: 14 }
#pawn_42 { -fx-translate-x: 91; -fx-translate-y: 14 }
#marker_420 { -fx-translate-x: 52; -fx-translate-y: 3 }
#pawn_43 { -fx-translate-x: 107; -fx-translate-y: 52 }
#pawn_44 { -fx-translate-x: 87; -fx-translate-y: 110 }
#pawn_45 { -fx-translate-x: 63; -fx-translate-y: 114 }
#hut_48 { -fx-translate-x: 32; -fx-translate-y: 63 }
#pawn_50 { -fx-translate-x: 23; -fx-translate-y: 20 }
#marker_500 { -fx-translate-x: 79; -fx-translate-y: -1 }
#pawn_51 { -fx-translate-x: 111; -fx-translate-y: 61 }
#pawn_52 { -fx-translate-x: 108; -fx-translate-y: 110 }
#pawn_53 { -fx-translate-x: 58; -fx-translate-y: 112 }
#pawn_54 { -fx-translate-x: 19; -fx-translate-y: 108 }
#pawn_55 { -fx-translate-x: 20; -fx-translate-y: 73 }
#hut_58 { -fx-translate-x: 84; -fx-translate-y: 76 }
#pawn_60 { -fx-translate-x: 16; -fx-translate-y: 15 }
#pawn_61 { -fx-translate-x: 81; -fx-translate-y: 14 }
#pawn_62 { -fx-translate-x: 112; -fx-translate-y: 16 }
#pawn_63 { -fx-translate-x: 111; -fx-translate-y: 62 }
#pawn_64 { -fx-translate-x: 62; -fx-translate-y: 109 }
#marker_640 { -fx-translate-x: 0; -fx-translate-y: 79 }
#pawn_65 { -fx-translate-x: 15; -fx-translate-y: 57 }
#hut_68 { -fx-translate-x: 83; -fx-translate-y: 42 }
#pawn_70 { -fx-translate-x: 16; -fx-translate-y: 15 }
#marker_700 { -fx-translate-x: -1; -fx-translate-y: 78 }
#pawn_71 { -fx-translate-x: 63; -fx-translate-y: 14 }
#pawn_72 { -fx-translate-x: 110; -fx-translate-y: 15 }
#pawn_73 { -fx-translate-x: 114; -fx-translate-y: 59 }
#pawn_74 { -fx-translate-x: 102; -fx-translate-y: 107 }
#pawn_75 { -fx-translate-x: 61; -fx-translate-y: 108 }
#hut_78 { -fx-translate-x: 91; -fx-translate-y: 42 }
#pawn_80 { -fx-translate-x: 14; -fx-translate-y: 14 }
#marker_800 { -fx-translate-x: 7; -fx-translate-y: 17 }
#pawn_81 { -fx-translate-x: 71; -fx-translate-y: 25 }
#pawn_82 { -fx-translate-x: 113; -fx-translate-y: 15 }
#marker_820 { -fx-translate-x: 77; -fx-translate-y: 0 }
#pawn_83 { -fx-translate-x: 112; -fx-translate-y: 63 }
#pawn_84 { -fx-translate-x: 108; -fx-translate-y: 113 }
#pawn_85 { -fx-translate-x: 17; -fx-translate-y: 88 }
#hut_88 { -fx-translate-x: 56; -fx-translate-y: 90 }
#pawn_90 { -fx-translate-x: 18; -fx-translate-y: 98 }
#pawn_91 { -fx-translate-x: 49; -fx-translate-y: 17 }
#pawn_92 { -fx-translate-x: 107; -fx-translate-y: 18 }
#pawn_93 { -fx-translate-x: 112; -fx-translate-y: 56 }
#pawn_94 { -fx-translate-x: 109; -fx-translate-y: 110 }
#pawn_95 { -fx-translate-x: 64; -fx-translate-y: 113 }
#hut_98 { -fx-translate-x: 43; -fx-translate-y: 63 }
#pawn_100 { -fx-translate-x: 17; -fx-translate-y: 16 }
#pawn_101 { -fx-translate-x: 58; -fx-translate-y: 14 }
#pawn_102 { -fx-translate-x: 104; -fx-translate-y: 23 }
#pawn_103 { -fx-translate-x: 109; -fx-translate-y: 63 }
#pawn_104 { -fx-translate-x: 17; -fx-translate-y: 109 }
#marker_1040 { -fx-translate-x: 79; -fx-translate-y: 79 }
#pawn_105 { -fx-translate-x: 18; -fx-translate-y: 65 }
#hut_108 { -fx-translate-x: 56; -fx-translate-y: 83 }
#pawn_110 { -fx-translate-x: 18; -fx-translate-y: 16 }
#pawn_111 { -fx-translate-x: 80; -fx-translate-y: 13 }
#pawn_112 { -fx-translate-x: 114; -fx-translate-y: 23 }
#pawn_113 { -fx-translate-x: 113; -fx-translate-y: 61 }
#pawn_114 { -fx-translate-x: 109; -fx-translate-y: 87 }
#pawn_115 { -fx-translate-x: 60; -fx-translate-y: 107 }
#pawn_116 { -fx-translate-x: 18; -fx-translate-y: 87 }
#pawn_117 { -fx-translate-x: 15; -fx-translate-y: 57 }
#hut_118 { -fx-translate-x: 84; -fx-translate-y: 45 }
#pawn_120 { -fx-translate-x: 15; -fx-translate-y: 34 }
#pawn_121 { -fx-translate-x: 47; -fx-translate-y: 13 }
#pawn_122 { -fx-translate-x: 111; -fx-translate-y: 113 }
#pawn_123 { -fx-translate-x: 66; -fx-translate-y: 111 }
#pawn_124 { -fx-translate-x: 42; -fx-translate-y: 85 }
#marker_1240 { -fx-translate-x: 5; -fx-translate-y: 74 }
#pawn_125 { -fx-translate-x: 18; -fx-translate-y: 61 }
#hut_128 { -fx-translate-x: 78; -fx-translate-y: 41 }
#pawn_130 { -fx-translate-x: 35; -fx-translate-y: 32 }
#marker_1300 { -fx-translate-x: 0; -fx-translate-y: 0 }
#pawn_131 { -fx-translate-x: 67; -fx-translate-y: 15 }
#pawn_132 { -fx-translate-x: 109; -fx-translate-y: 17 }
#pawn_133 { -fx-translate-x: 113; -fx-translate-y: 65 }
#pawn_134 { -fx-translate-x: 110; -fx-translate-y: 112 }
#pawn_135 { -fx-translate-x: 80; -fx-translate-y: 106 }
#pawn_136 { -fx-translate-x: 48; -fx-translate-y: 104 }
#marker_1360 { -fx-translate-x: 0; -fx-translate-y: 77 }
#pawn_137 { -fx-translate-x: 15; -fx-translate-y: 57 }
#hut_138 { -fx-translate-x: 80; -fx-translate-y: 40 }
#pawn_140 { -fx-translate-x: 38; -fx-translate-y: 14 }
#hut_141 { -fx-translate-x: 57; -fx-translate-y: 44 }
#pawn_141 { -fx-translate-x: 71; -fx-translate-y: 20 }
#pawn_142 { -fx-translate-x: 87; -fx-translate-y: 57 }
#marker_1420 { -fx-translate-x: 52; -fx-translate-y: 50 }
#pawn_143 { -fx-translate-x: 113; -fx-translate-y: 53 }
#pawn_144 { -fx-translate-x: 72; -fx-translate-y: 114 }
#pawn_145 { -fx-translate-x: 17; -fx-translate-y: 55 }
#pawn_150 { -fx-translate-x: 16; -fx-translate-y: 71 }
#marker_1500 { -fx-translate-x: 5; -fx-translate-y: 71 }
#hut_151 { -fx-translate-x: 73; -fx-translate-y: 96 }
#pawn_151 { -fx-translate-x: 108; -fx-translate-y: 55 }
#pawn_152 { -fx-translate-x: 104; -fx-translate-y: 110 }
#pawn_160 { -fx-translate-x: 19; -fx-translate-y: 19 }
#hut_161 { -fx-translate-x: 34; -fx-translate-y: 64 }
#pawn_161 { -fx-translate-x: 83; -fx-translate-y: 42 }
#pawn_162 { -fx-translate-x: 112; -fx-translate-y: 109 }
#marker_1620 { -fx-translate-x: 61; -fx-translate-y: 74 }
#pawn_170 { -fx-translate-x: 20; -fx-translate-y: 21 }
#hut_171 { -fx-translate-x: 60; -fx-translate-y: 21 }
#pawn_171 { -fx-translate-x: 93; -fx-translate-y: 56 }
#pawn_172 { -fx-translate-x: 87; -fx-translate-y: 15 }
#marker_1720 { -fx-translate-x: 76; -fx-translate-y: 2 }
#hut_173 { -fx-translate-x: 28; -fx-translate-y: 58 }
#pawn_173 { -fx-translate-x: 76; -fx-translate-y: 105 }
#pawn_174 { -fx-translate-x: 16; -fx-translate-y: 114 }
#marker_1740 { -fx-translate-x: 3; -fx-translate-y: 74 }
#pawn_180 { -fx-translate-x: 67; -fx-translate-y: 17 }
#marker_1800 { -fx-translate-x: 5; -fx-translate-y: 1 }
#hut_181 { -fx-translate-x: 70; -fx-translate-y: 104 }
#pawn_181 { -fx-translate-x: 110; -fx-translate-y: 53 }
#pawn_182 { -fx-translate-x: 110; -fx-translate-y: 98 }
#pawn_190 { -fx-translate-x: 21; -fx-translate-y: 21 }
#marker_1900 { -fx-translate-x: 70; -fx-translate-y: 4 }
#hut_191 { -fx-translate-x: 47; -fx-translate-y: 85 }
#pawn_191 { -fx-translate-x: 85; -fx-translate-y: 56 }
#pawn_192 { -fx-translate-x: 98; -fx-translate-y: 110 }
#pawn_200 { -fx-translate-x: 19; -fx-translate-y: 16 }
#marker_2000 { -fx-translate-x: 4; -fx-translate-y: 32 }
#hut_201 { -fx-translate-x: 98; -fx-translate-y: 46 }
#pawn_201 { -fx-translate-x: 78; -fx-translate-y: 29 }
#pawn_202 { -fx-translate-x: 111; -fx-translate-y: 16 }
#pawn_203 { -fx-translate-x: 112; -fx-translate-y: 94 }
#pawn_204 { -fx-translate-x: 66; -fx-translate-y: 103 }
#pawn_210 { -fx-translate-x: 100; -fx-translate-y: 17 }
#hut_211 { -fx-translate-x: 99; -fx-translate-y: 48 }
#pawn_211 { -fx-translate-x: 23; -fx-translate-y: 80 }
#pawn_212 { -fx-translate-x: 95; -fx-translate-y: 104 }
#marker_2120 { -fx-translate-x: 42; -fx-translate-y: 49 }
#pawn_220 { -fx-translate-x: 17; -fx-translate-y: 18 }
#hut_221 { -fx-translate-x: 53; -fx-translate-y: 27 }
#pawn_221 { -fx-translate-x: 26; -fx-translate-y: 67 }
#pawn_222 { -fx-translate-x: 94; -fx-translate-y: 14 }
#marker_2220 { -fx-translate-x: 71; -fx-translate-y: 16 }
#pawn_223 { -fx-translate-x: 80; -fx-translate-y: 106 }
#pawn_230 { -fx-translate-x: 41; -fx-translate-y: 17 }
#marker_2300 { -fx-translate-x: 35; -fx-translate-y: 18 }
#hut_231 { -fx-translate-x: 81; -fx-translate-y: 15 }
#pawn_231 { -fx-translate-x: 102; -fx-translate-y: 70 }
#pawn_232 { -fx-translate-x: 113; -fx-translate-y: 44 }
#pawn_233 { -fx-translate-x: 70; -fx-translate-y: 111 }
#pawn_240 { -fx-translate-x: 17; -fx-translate-y: 17 }
#pawn_241 { -fx-translate-x: 62; -fx-translate-y: 14 }
#pawn_242 { -fx-translate-x: 112; -fx-translate-y: 35 }
#marker_2420 { -fx-translate-x: 75; -fx-translate-y: 43 }
#pawn_243 { -fx-translate-x: 63; -fx-translate-y: 109 }
#pawn_244 { -fx-translate-x: 15; -fx-translate-y: 92 }
#pawn_245 { -fx-translate-x: 15; -fx-translate-y: 63 }
#hut_248 { -fx-translate-x: 76; -fx-translate-y: 30 }
#pawn_250 { -fx-translate-x: 20; -fx-translate-y: 37 }
#hut_251 { -fx-translate-x: 52; -fx-translate-y: 21 }
#pawn_251 { -fx-translate-x: 104; -fx-translate-y: 70 }
#pawn_252 { -fx-translate-x: 84; -fx-translate-y: 23 }
#marker_2520 { -fx-translate-x: 79; -fx-translate-y: -1 }
#pawn_253 { -fx-translate-x: 41; -fx-translate-y: 101 }
#pawn_260 { -fx-translate-x: 33; -fx-translate-y: 13 }
#hut_261 { -fx-translate-x: 100; -fx-translate-y: 75 }
#pawn_261 { -fx-translate-x: 69; -fx-translate-y: 31 }
#pawn_262 { -fx-translate-x: 111; -fx-translate-y: 15 }
#pawn_263 { -fx-translate-x: 64; -fx-translate-y: 109 }
#pawn_264 { -fx-translate-x: 21; -fx-translate-y: 59 }
#pawn_270 { -fx-translate-x: 35; -fx-translate-y: 15 }
#hut_271 { -fx-translate-x: 70; -fx-translate-y: 106 }
#pawn_271 { -fx-translate-x: 103; -fx-translate-y: 47 }
#pawn_272 { -fx-translate-x: 99; -fx-translate-y: 80 }
#marker_2720 { -fx-translate-x: 79; -fx-translate-y: 79 }
#pawn_273 { -fx-translate-x: 17; -fx-translate-y: 59 }
#pawn_280 { -fx-translate-x: 15; -fx-translate-y: 13 }
#hut_281 { -fx-translate-x: 71; -fx-translate-y: 44 }
#pawn_281 { -fx-translate-x: 88; -fx-translate-y: 17 }
#pawn_282 { -fx-translate-x: 112; -fx-translate-y: 57 }
#pawn_283 { -fx-translate-x: 72; -fx-translate-y: 106 }
#pawn_290 { -fx-translate-x: 59; -fx-translate-y: 19 }
#pawn_291 { -fx-translate-x: 112; -fx-translate-y: 34 }
#hut_292 { -fx-translate-x: 98; -fx-translate-y: 64 }
#pawn_292 { -fx-translate-x: 70; -fx-translate-y: 111 }
#pawn_293 { -fx-translate-x: 114; -fx-translate-y: 114 }
#pawn_300 { -fx-translate-x: 72; -fx-translate-y: 16 }
#marker_3000 { -fx-translate-x: 75; -fx-translate-y: 1 }
#pawn_301 { -fx-translate-x: 23; -fx-translate-y: 100 }
#pawn_310 { -fx-translate-x: 39; -fx-translate-y: 29 }
#pawn_311 { -fx-translate-x: 110; -fx-translate-y: 81 }
#marker_3110 { -fx-translate-x: 74; -fx-translate-y: 79 }
#pawn_320 { -fx-translate-x: 86; -fx-translate-y: 22 }
#pawn_321 { -fx-translate-x: 49; -fx-translate-y: 106 }
#marker_3210 { -fx-translate-x: 67; -fx-translate-y: 74 }
#pawn_330 { -fx-translate-x: 86; -fx-translate-y: 24 }
#pawn_331 { -fx-translate-x: 61; -fx-translate-y: 102 }
#pawn_340 { -fx-translate-x: 53; -fx-translate-y: 14 }
#pawn_341 { -fx-translate-x: 110; -fx-translate-y: 59 }
#pawn_342 { -fx-translate-x: 32; -fx-translate-y: 114 }
#marker_3420 { -fx-translate-x: 33; -fx-translate-y: 77 }
#pawn_343 { -fx-translate-x: 22; -fx-translate-y: 58 }
#pawn_350 { -fx-translate-x: 68; -fx-translate-y: 18 }
#marker_3500 { -fx-translate-x: 10; -fx-translate-y: 60 }
#pawn_351 { -fx-translate-x: 105; -fx-translate-y: 66 }
#pawn_360 { -fx-translate-x: 29; -fx-translate-y: 35 }
#marker_3600 { -fx-translate-x: 59; -fx-translate-y: 13 }
#pawn_361 { -fx-translate-x: 34; -fx-translate-y: 106 }
#pawn_370 { -fx-translate-x: 58; -fx-translate-y: 24 }
#pawn_371 { -fx-translate-x: 45; -fx-translate-y: 103 }
#marker_3710 { -fx-translate-x: 75; -fx-translate-y: 75 }
#pawn_380 { -fx-translate-x: 67; -fx-translate-y: 15 }
#marker_3800 { -fx-translate-x: 19; -fx-translate-y: 0 }
#pawn_381 { -fx-translate-x: 106; -fx-translate-y: 82 }
#pawn_382 { -fx-translate-x: 60; -fx-translate-y: 113 }
#pawn_390 { -fx-translate-x: 70; -fx-translate-y: 14 }
#pawn_391 { -fx-translate-x: 22; -fx-translate-y: 78 }
#pawn_392 { -fx-translate-x: 63; -fx-translate-y: 107 }
#pawn_400 { -fx-translate-x: 51; -fx-translate-y: 14 }
#pawn_401 { -fx-translate-x: 30; -fx-translate-y: 62 }
#pawn_402 { -fx-translate-x: 61; -fx-translate-y: 108 }
#pawn_410 { -fx-translate-x: 61; -fx-translate-y: 68 }
#marker_4100 { -fx-translate-x: 52; -fx-translate-y: 75 }
#pawn_411 { -fx-translate-x: 112; -fx-translate-y: 56 }
#pawn_412 { -fx-translate-x: 15; -fx-translate-y: 29 }
#pawn_420 { -fx-translate-x: 57; -fx-translate-y: 21 }
#pawn_421 { -fx-translate-x: 76; -fx-translate-y: 107 }
#pawn_422 { -fx-translate-x: 13; -fx-translate-y: 44 }
#pawn_430 { -fx-translate-x: 107; -fx-translate-y: 20 }
#pawn_431 { -fx-translate-x: 61; -fx-translate-y: 113 }
#pawn_432 { -fx-translate-x: 21; -fx-translate-y: 68 }
#pawn_440 { -fx-translate-x: 20; -fx-translate-y: 17 }
#pawn_441 { -fx-translate-x: 114; -fx-translate-y: 45 }
#pawn_442 { -fx-translate-x: 42; -fx-translate-y: 105 }
#marker_4420 { -fx-translate-x: 56; -fx-translate-y: 76 }
#pawn_450 { -fx-translate-x: 32; -fx-translate-y: 15 }
#hut_451 { -fx-translate-x: 77; -fx-translate-y: 56 }
#pawn_451 { -fx-translate-x: 64; -fx-translate-y: 93 }
#pawn_452 { -fx-translate-x: 91; -fx-translate-y: 13 }
#pawn_453 { -fx-translate-x: 111; -fx-translate-y: 50 }
#pawn_454 { -fx-translate-x: 100; -fx-translate-y: 114 }
#marker_4540 { -fx-translate-x: 71; -fx-translate-y: 79 }
#pawn_455 { -fx-translate-x: 37; -fx-translate-y: 114 }
#pawn_456 { -fx-translate-x: 26; -fx-translate-y: 72 }
#pawn_460 { -fx-translate-x: 22; -fx-translate-y: 16 }
#hut_461 { -fx-translate-x: 98; -fx-translate-y: 72 }
#pawn_461 { -fx-translate-x: 52; -fx-translate-y: 41 }
#pawn_462 { -fx-translate-x: 35; -fx-translate-y: 87 }
#pawn_463 { -fx-translate-x: 62; -fx-translate-y: 113 }
#pawn_470 { -fx-translate-x: 18; -fx-translate-y: 15 }
#hut_471 { -fx-translate-x: 26; -fx-translate-y: 41 }
#pawn_471 { -fx-translate-x: 104; -fx-translate-y: 69 }
#pawn_472 { -fx-translate-x: 78; -fx-translate-y: 87 }
#marker_4720 { -fx-translate-x: 14; -fx-translate-y: 53 }
#pawn_473 { -fx-translate-x: 64; -fx-translate-y: 114 }
#pawn_480 { -fx-translate-x: 75; -fx-translate-y: 30 }
#hut_481 { -fx-translate-x: 27; -fx-translate-y: 55 }
#pawn_481 { -fx-translate-x: 103; -fx-translate-y: 75 }
#pawn_482 { -fx-translate-x: 20; -fx-translate-y: 106 }
#marker_4820 { -fx-translate-x: 78; -fx-translate-y: 78 }
#pawn_490 { -fx-translate-x: 70; -fx-translate-y: 26 }
#marker_4900 { -fx-translate-x: 14; -fx-translate-y: 18 }
#hut_491 { -fx-translate-x: 107; -fx-translate-y: 55 }
#pawn_491 { -fx-translate-x: 20; -fx-translate-y: 75 }
#pawn_492 { -fx-translate-x: 23; -fx-translate-y: 109 }
#marker_4920 { -fx-translate-x: 79; -fx-translate-y: 79 }
#pawn_500 { -fx-translate-x: 25; -fx-translate-y: 66 }
#marker_5000 { -fx-translate-x: 24; -fx-translate-y: 18 }
#hut_501 { -fx-translate-x: 60; -fx-translate-y: 94 }
#pawn_501 { -fx-translate-x: 86; -fx-translate-y: 27 }
#pawn_502 { -fx-translate-x: 93; -fx-translate-y: 108 }
#pawn_510 { -fx-translate-x: 54; -fx-translate-y: 53 }
#marker_5100 { -fx-translate-x: 18; -fx-translate-y: 2 }
#hut_511 { -fx-translate-x: 23; -fx-translate-y: 71 }
#pawn_511 { -fx-translate-x: 94; -fx-translate-y: 45 }
#pawn_512 { -fx-translate-x: 106; -fx-translate-y: 107 }
#pawn_520 { -fx-translate-x: 108; -fx-translate-y: 15 }
#marker_5200 { -fx-translate-x: 59; -fx-translate-y: 7 }
#hut_521 { -fx-translate-x: 77; -fx-translate-y: 91 }
#pawn_521 { -fx-translate-x: 36; -fx-translate-y: 49 }
#pawn_522 { -fx-translate-x: 23; -fx-translate-y: 92 }
#pawn_530 { -fx-translate-x: 18; -fx-translate-y: 18 }
#hut_531 { -fx-translate-x: 30; -fx-translate-y: 76 }
#pawn_531 { -fx-translate-x: 86; -fx-translate-y: 34 }
#pawn_532 { -fx-translate-x: 30; -fx-translate-y: 109 }
#marker_5320 { -fx-translate-x: 58; -fx-translate-y: 73 }
#pawn_540 { -fx-translate-x: 64; -fx-translate-y: 64 }
#pawn_541 { -fx-translate-x: 16; -fx-translate-y: 57 }
#hut_542 { -fx-translate-x: 85; -fx-translate-y: 39 }
#pawn_542 { -fx-translate-x: 61; -fx-translate-y: 96 }
#pawn_543 { -fx-translate-x: 99; -fx-translate-y: 111 }
#marker_5430 { -fx-translate-x: 66; -fx-translate-y: 48 }
#pawn_544 { -fx-translate-x: 36; -fx-translate-y: 114 }
#pawn_550 { -fx-translate-x: 109; -fx-translate-y: 16 }
#pawn_551 { -fx-translate-x: 54; -fx-translate-y: 112 }
#pawn_552 { -fx-translate-x: 84; -fx-translate-y: 91 }
#hut_553 { -fx-translate-x: 15; -fx-translate-y: 68 }
#pawn_553 { -fx-translate-x: 55; -fx-translate-y: 76 }
#pawn_554 { -fx-translate-x: 22; -fx-translate-y: 35 }
#pawn_560 { -fx-translate-x: 79; -fx-translate-y: 18 }
#marker_5600 { -fx-translate-x: -1; -fx-translate-y: -1 }
#pawn_561 { -fx-translate-x: 70; -fx-translate-y: 108 }
#pawn_562 { -fx-translate-x: 15; -fx-translate-y: 98 }
#pawn_563 { -fx-translate-x: 13; -fx-translate-y: 66 }
#hut_568 { -fx-translate-x: 39; -fx-translate-y: 54 }
#pawn_570 { -fx-translate-x: 26; -fx-translate-y: 13 }
#pawn_571 { -fx-translate-x: 64; -fx-translate-y: 14 }
#pawn_572 { -fx-translate-x: 97; -fx-translate-y: 14 }
#pawn_573 { -fx-translate-x: 110; -fx-translate-y: 61 }
#pawn_574 { -fx-translate-x: 64; -fx-translate-y: 109 }
#hut_578 { -fx-translate-x: 80; -fx-translate-y: 68 }
#pawn_580 { -fx-translate-x: 111; -fx-translate-y: 34 }
#pawn_581 { -fx-translate-x: 81; -fx-translate-y: 100 }
#pawn_582 { -fx-translate-x: 55; -fx-translate-y: 111 }
#pawn_583 { -fx-translate-x: 16; -fx-translate-y: 114 }
#hut_588 { -fx-translate-x: 75; -fx-translate-y: 60 }
#pawn_590 { -fx-translate-x: 16; -fx-translate-y: 55 }
#pawn_591 { -fx-translate-x: 52; -fx-translate-y: 16 }
#pawn_592 { -fx-translate-x: 113; -fx-translate-y: 100 }
#marker_5920 { -fx-translate-x: 78; -fx-translate-y: 0 }
#pawn_593 { -fx-translate-x: 53; -fx-translate-y: 112 }
#hut_598 { -fx-translate-x: 91; -fx-translate-y: 52 }
#pawn_600 { -fx-translate-x: 71; -fx-translate-y: 14 }
#pawn_601 { -fx-translate-x: 96; -fx-translate-y: 58 }
#pawn_602 { -fx-translate-x: 51; -fx-translate-y: 106 }
#marker_6020 { -fx-translate-x: 61; -fx-translate-y: 75 }
#pawn_610 { -fx-translate-x: 30; -fx-translate-y: 96 }
#marker_6100 { -fx-translate-x: 37; -fx-translate-y: 31 }
#pawn_620 { -fx-translate-x: 87; -fx-translate-y: 65 }
#marker_6200 { -fx-translate-x: 8; -fx-translate-y: 5 }
#pawn_630 { -fx-translate-x: 19; -fx-translate-y: 17 }
#pawn_631 { -fx-translate-x: 70; -fx-translate-y: 100 }
#pawn_640 { -fx-translate-x: 110; -fx-translate-y: 16 }
#pawn_641 { -fx-translate-x: 57; -fx-translate-y: 101 }
#pawn_642 { -fx-translate-x: 18; -fx-translate-y: 60 }
#pawn_650 { -fx-translate-x: 32; -fx-translate-y: 30 }
#pawn_651 { -fx-translate-x: 88; -fx-translate-y: 107 }
#marker_6510 { -fx-translate-x: 25; -fx-translate-y: 76 }
#pawn_660 { -fx-translate-x: 55; -fx-translate-y: 22 }
#pawn_661 { -fx-translate-x: 110; -fx-translate-y: 111 }
#hut_662 { -fx-translate-x: 71; -fx-translate-y: 79 }
#pawn_662 { -fx-translate-x: 81; -fx-translate-y: 109 }
#pawn_663 { -fx-translate-x: 45; -fx-translate-y: 109 }
#pawn_664 { -fx-translate-x: 15; -fx-translate-y: 48 }
#pawn_670 { -fx-translate-x: 56; -fx-translate-y: 20 }
#pawn_671 { -fx-translate-x: 110; -fx-translate-y: 62 }
#pawn_672 { -fx-translate-x: 40; -fx-translate-y: 102 }
#marker_6720 { -fx-translate-x: 1; -fx-translate-y: 43 }
#pawn_680 { -fx-translate-x: 34; -fx-translate-y: 21 }
#pawn_681 { -fx-translate-x: 110; -fx-translate-y: 105 }
#hut_682 { -fx-translate-x: 43; -fx-translate-y: 82 }
#pawn_682 { -fx-translate-x: 79; -fx-translate-y: 87 }
#pawn_683 { -fx-translate-x: 16; -fx-translate-y: 112 }
#pawn_690 { -fx-translate-x: 20; -fx-translate-y: 18 }
#pawn_691 { -fx-translate-x: 34; -fx-translate-y: 103 }
#hut_692 { -fx-translate-x: 63; -fx-translate-y: 104 }
#pawn_692 { -fx-translate-x: 110; -fx-translate-y: 57 }
#pawn_693 { -fx-translate-x: 104; -fx-translate-y: 103 }
#pawn_700 { -fx-translate-x: 32; -fx-translate-y: 14 }
#hut_701 { -fx-translate-x: 47; -fx-translate-y: 41 }
#pawn_701 { -fx-translate-x: 60; -fx-translate-y: 14 }
#pawn_702 { -fx-translate-x: 99; -fx-translate-y: 21 }
#hut_703 { -fx-translate-x: 89; -fx-translate-y: 82 }
#pawn_703 { -fx-translate-x: 106; -fx-translate-y: 56 }
#pawn_704 { -fx-translate-x: 114; -fx-translate-y: 92 }
#pawn_705 { -fx-translate-x: 19; -fx-translate-y: 108 }
#pawn_710 { -fx-translate-x: 23; -fx-translate-y: 14 }
#hut_711 { -fx-translate-x: 76; -fx-translate-y: 17 }
#pawn_711 { -fx-translate-x: 57; -fx-translate-y: 14 }
#pawn_712 { -fx-translate-x: 100; -fx-translate-y: 13 }
#pawn_713 { -fx-translate-x: 107; -fx-translate-y: 67 }
#pawn_714 { -fx-translate-x: 89; -fx-translate-y: 113 }
#pawn_715 { -fx-translate-x: 58; -fx-translate-y: 113 }
#pawn_716 { -fx-translate-x: 22; -fx-translate-y: 112 }
#hut_718 { -fx-translate-x: 30; -fx-translate-y: 85 }
#pawn_720 { -fx-translate-x: 41; -fx-translate-y: 57 }
#marker_7200 { -fx-translate-x: 13; -fx-translate-y: 11 }
#hut_721 { -fx-translate-x: 82; -fx-translate-y: 44 }
#pawn_721 { -fx-translate-x: 55; -fx-translate-y: 104 }
#pawn_722 { -fx-translate-x: 101; -fx-translate-y: 15 }
#pawn_723 { -fx-translate-x: 108; -fx-translate-y: 100 }
#pawn_724 { -fx-translate-x: 14; -fx-translate-y: 75 }
#pawn_730 { -fx-translate-x: 48; -fx-translate-y: 70 }
#hut_731 { -fx-translate-x: 53; -fx-translate-y: 105 }
#pawn_731 { -fx-translate-x: 64; -fx-translate-y: 21 }
#pawn_732 { -fx-translate-x: 97; -fx-translate-y: 70 }
#marker_7320 { -fx-translate-x: 68; -fx-translate-y: 79 }
#pawn_733 { -fx-translate-x: 112; -fx-translate-y: 35 }
#pawn_734 { -fx-translate-x: 14; -fx-translate-y: 70 }
#pawn_740 { -fx-translate-x: 35; -fx-translate-y: 18 }
#hut_741 { -fx-translate-x: 58; -fx-translate-y: 104 }
#pawn_741 { -fx-translate-x: 67; -fx-translate-y: 36 }
#pawn_742 { -fx-translate-x: 88; -fx-translate-y: 98 }
#pawn_743 { -fx-translate-x: 112; -fx-translate-y: 37 }
#pawn_744 { -fx-translate-x: 14; -fx-translate-y: 101 }
#pawn_750 { -fx-translate-x: 24; -fx-translate-y: 23 }
#pawn_751 { -fx-translate-x: 105; -fx-translate-y: 105 }
#pawn_760 { -fx-translate-x: 107; -fx-translate-y: 59 }
#marker_7600 { -fx-translate-x: 75; -fx-translate-y: 0 }
#pawn_761 { -fx-translate-x: 23; -fx-translate-y: 106 }
#pawn_770 { -fx-translate-x: 21; -fx-translate-y: 21 }
#pawn_771 { -fx-translate-x: 68; -fx-translate-y: 107 }
#pawn_780 { -fx-translate-x: 57; -fx-translate-y: 24 }
#pawn_781 { -fx-translate-x: 53; -fx-translate-y: 90 }
#marker_7810 { -fx-translate-x: 2; -fx-translate-y: 74 }
#pawn_790 { -fx-translate-x: 78; -fx-translate-y: 14 }
#pawn_791 { -fx-translate-x: 94; -fx-translate-y: 61 }
#pawn_792 { -fx-translate-x: 100; -fx-translate-y: 114 }
#hut_793 { -fx-translate-x: 54; -fx-translate-y: 94 }
#pawn_793 { -fx-translate-x: 67; -fx-translate-y: 114 }
#pawn_794 { -fx-translate-x: 36; -fx-translate-y: 113 }
#pawn_800 { -fx-translate-x: 16; -fx-translate-y: 14 }
#pawn_801 { -fx-translate-x: 76; -fx-translate-y: 17 }
#pawn_802 { -fx-translate-x: 110; -fx-translate-y: 16 }
#marker_8020 { -fx-translate-x: 72; -fx-translate-y: 76 }
#marker_8021 { -fx-translate-x: 1; -fx-translate-y: 77 }
#pawn_803 { -fx-translate-x: 17; -fx-translate-y: 54 }
#hut_808 { -fx-translate-x: 90; -fx-translate-y: 48 }
#pawn_810 { -fx-translate-x: 16; -fx-translate-y: 53 }
#marker_8100 { -fx-translate-x: 18; -fx-translate-y: 1 }
#marker_8101 { -fx-translate-x: 3; -fx-translate-y: 56 }
#pawn_811 { -fx-translate-x: 70; -fx-translate-y: 106 }
#pawn_820 { -fx-translate-x: 47; -fx-translate-y: 13 }
#pawn_821 { -fx-translate-x: 78; -fx-translate-y: 17 }
#pawn_822 { -fx-translate-x: 36; -fx-translate-y: 114 }
#marker_8220 { -fx-translate-x: 79; -fx-translate-y: 79 }
#pawn_823 { -fx-translate-x: 23; -fx-translate-y: 42 }
#hut_828 { -fx-translate-x: 94; -fx-translate-y: 56 }
#pawn_830 { -fx-translate-x: 36; -fx-translate-y: 17 }
#marker_8300 { -fx-translate-x: -1; -fx-translate-y: 0 }
#marker_8301 { -fx-translate-x: 77; -fx-translate-y: 77 }
#pawn_831 { -fx-translate-x: 64; -fx-translate-y: 13 }
#pawn_832 { -fx-translate-x: 112; -fx-translate-y: 13 }
#pawn_833 { -fx-translate-x: 113; -fx-translate-y: 61 }
#hut_834 { -fx-translate-x: 64; -fx-translate-y: 64 }
#pawn_834 { -fx-translate-x: 64; -fx-translate-y: 114 }
#pawn_835 { -fx-translate-x: 15; -fx-translate-y: 112 }
#hut_836 { -fx-translate-x: 64; -fx-translate-y: 64 }
#pawn_836 { -fx-translate-x: 15; -fx-translate-y: 63 }
#hut_838 { -fx-translate-x: 71; -fx-translate-y: 39 }
#hut_839 { -fx-translate-x: 54; -fx-translate-y: 91 }
#pawn_840 { -fx-translate-x: 22; -fx-translate-y: 30 }
#hut_841 { -fx-translate-x: 107; -fx-translate-y: 73 }
#pawn_841 { -fx-translate-x: 55; -fx-translate-y: 27 }
#pawn_842 { -fx-translate-x: 107; -fx-translate-y: 43 }
#marker_8420 { -fx-translate-x: 72; -fx-translate-y: 1 }
#pawn_843 { -fx-translate-x: 49; -fx-translate-y: 106 }
#pawn_850 { -fx-translate-x: 110; -fx-translate-y: 54 }
#pawn_860 { -fx-translate-x: 19; -fx-translate-y: 15 }
#marker_8600 { -fx-translate-x: 0; -fx-translate-y: 69 }
#pawn_861 { -fx-translate-x: 61; -fx-translate-y: 18 }
#pawn_862 { -fx-translate-x: 111; -fx-translate-y: 14 }
#pawn_863 { -fx-translate-x: 113; -fx-translate-y: 64 }
#pawn_864 { -fx-translate-x: 114; -fx-translate-y: 92 }
#marker_8640 { -fx-translate-x: 78; -fx-translate-y: 78 }
#pawn_865 { -fx-translate-x: 57; -fx-translate-y: 113 }
#hut_868 { -fx-translate-x: 86; -fx-translate-y: 73 }
#pawn_870 { -fx-translate-x: 17; -fx-translate-y: 16 }
#pawn_871 { -fx-translate-x: 46; -fx-translate-y: 109 }
#pawn_872 { -fx-translate-x: 19; -fx-translate-y: 85 }
#pawn_873 { -fx-translate-x: 17; -fx-translate-y: 58 }
#hut_878 { -fx-translate-x: 75; -fx-translate-y: 32 }
#pawn_880 { -fx-translate-x: 20; -fx-translate-y: 16 }
#hut_881 { -fx-translate-x: 92; -fx-translate-y: 36 }
#pawn_881 { -fx-translate-x: 106; -fx-translate-y: 86 }
#pawn_882 { -fx-translate-x: 114; -fx-translate-y: 14 }
#pawn_883 { -fx-translate-x: 39; -fx-translate-y: 108 }
#pawn_890 { -fx-translate-x: 25; -fx-translate-y: 17 }
#pawn_891 { -fx-translate-x: 68; -fx-translate-y: 15 }
#pawn_892 { -fx-translate-x: 97; -fx-translate-y: 16 }
#pawn_893 { -fx-translate-x: 103; -fx-translate-y: 104 }
#pawn_894 { -fx-translate-x: 13; -fx-translate-y: 99 }
#pawn_895 { -fx-translate-x: 15; -fx-translate-y: 66 }
#hut_898 { -fx-translate-x: 71; -fx-translate-y: 38 }
#pawn_900 { -fx-translate-x: 56; -fx-translate-y: 20 }
#marker_9000 { -fx-translate-x: 7; -fx-translate-y: 22 }
#marker_9001 { -fx-translate-x: 76; -fx-translate-y: 1 }
#pawn_901 { -fx-translate-x: 62; -fx-translate-y: 105 }
#pawn_910 { -fx-translate-x: 19; -fx-translate-y: 19 }
#pawn_911 { -fx-translate-x: 58; -fx-translate-y: 15 }
#pawn_912 { -fx-translate-x: 111; -fx-translate-y: 14 }
#pawn_913 { -fx-translate-x: 110; -fx-translate-y: 63 }
#pawn_914 { -fx-translate-x: 101; -fx-translate-y: 110 }
#pawn_915 { -fx-translate-x: 15; -fx-translate-y: 76 }
#hut_918 { -fx-translate-x: 58; -fx-translate-y: 45 }
#pawn_920 { -fx-translate-x: 97; -fx-translate-y: 21 }
#pawn_921 { -fx-translate-x: 23; -fx-translate-y: 49 }
#pawn_930 { -fx-translate-x: 17; -fx-translate-y: 16 }
#pawn_931 { -fx-translate-x: 59; -fx-translate-y: 15 }
#pawn_932 { -fx-translate-x: 106; -fx-translate-y: 21 }
#pawn_933 { -fx-translate-x: 113; -fx-translate-y: 62 }
#pawn_934 { -fx-translate-x: 15; -fx-translate-y: 114 }
#pawn_935 { -fx-translate-x: 16; -fx-translate-y: 66 }
#hut_938 { -fx-translate-x: 72; -fx-translate-y: 86 }
#pawn_940 { -fx-translate-x: 31; -fx-translate-y: 15 }
#pawn_941 { -fx-translate-x: 21; -fx-translate-y: 108 }
